:root {
  /* Screen sizes */
  --mobile: 375px;
  --desktop: 1440px;

  /* Fonts */
  --basic-font: 'Space Mono';

  /* Font sizes */
  --big-font: 16px;
  --small-font: 14px;

  /* Font weights */
  --bold: 800;
  --medium: 600;
  --thin: 300;
}

body {
  box-sizing: border-box;
  margin: 0;
  display: block;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
}

html {
  overflow-x: hidden;
  height: 100%;
}

.page {
  text-align: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--background);
}

p {
  font-size: var(--big-font);
}

.header {
  padding: 1.5em 0 1.5em 0;
  background-color: var(--elements);
  box-shadow: -1px 1px 10px var(--shadow);
  color: var(--text);
  display: flex;
  justify-content: space-between;
}

.theme-button {
  border: none;
  color: var(--text);
  background-color: var(--elements);
  margin-right: 3em;
  font-weight: var(--medium);
  font-size: var(--big-font);
}

.title {
  margin: 0;
  text-align: left;
  padding-left: 2em;
}

.toolbar {
  display: grid;
  margin: 0em 4em 1em 4em;
  padding-top: 3em;

  grid-template: 'left-item . right-item' 80px;
}

.search {
  box-shadow: -1px 1px 10px var(--shadow);
  border: 0;
  height: 50px;
  width: 100%;
  border-radius: 2px;
  grid-area: left-item;
  padding: 7px 65px;
  background: url(./images/search.svg) no-repeat scroll 20px center;
  background-size: 30px;
  background-color: var(--elements);
}

.dropdown {
  box-shadow: -1px 1px 10px var(--shadow);
  border: 0;
  background-color: var(--elements);
  width: 200px;
  margin-left: auto;
  border-radius: 2px;
  height: 64px;
  grid-area: right-item;
  color: var(--text);
}

.content {
  margin: 1em 0 0 4em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.country-item {
  margin: 0em 4em 4em 0;
  flex: 1;
  border-radius: 2px;
  overflow: hidden;
  border: 0;
  padding: 0;
  text-transform: none;
  text-decoration: none;
  color: var(--text);
  background-color: var(--elements);
  box-shadow: -1px 1px 10px var(--shadow);
}

.country-item:hover {
  box-shadow: -4px 3px 10px var(--shadow);
  cursor: pointer;
}

.country-flag {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.country-info {
  padding: 0 0 1em 2em;
  text-align: left;
}

.country-property {
  font-size: var(--small-font);
  font-weight: var(--bold);
  color: var(--text);
}

.label {
  font-weight: var(--thin);
  color: var(--text);
}

.back-button {
  box-shadow: -1px 1px 10px var(--shadow);
  border: 0;
  background: url(./images/arrow.svg) no-repeat scroll 20px center;
  background-size: 30px;
  text-decoration: none;
  width: 180px;
  padding-left: 15px;
  text-align: center;
  /* margin-right: auto; */
  border-radius: 5px;
  height: 64px;
  grid-area: left-item;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  font-size: var(--big-font);
}

.details {
  margin: 2em 4em;
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-rows: 450px;
  grid-gap: 20px;
}

.flag-container {
  display: flex;
  align-items: flex-start;
}

.flag-container img {
  width: 100%;
  display: flex;
}

.details-content {
  text-align: left;
  font-size: var(--big-font);
  margin: 1em 1em 1em 4em;
}

.details-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
